* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


@font-face {
  font-family: tulisan;
  src: url(../../css/RobotoCondensed.ttf);
}

@font-face {
  font-family: header;
  src: url(../../css/Alfa.ttf);
}


body {
  background-color: #f9f9f9;
  color: #00d1b2;
  font-family: tulisan;
  font-size: 12px;
}


.card-title {
  /*font-family: 'header';*/
  color: #555;
  /*text-shadow: 3px 2px #ccc;*/
  font-size: 41px;
  font-weight: bold;
}

.title-card {
  font-size: 15px;
}


.nav-sales {
  /*box-shadow: 0px 4px;*/
  background: #08b59b;
  padding: 0px 20px;
}

.btn-outline-white.active,
.btn-outline-white:active,
.btn-outline-white:active:focus,
.btn-outline-white:focus,
.btn-outline-white:hover {
  border-color: #ee7234 !important;
  background-color: #ffffff42 !important;
  color: #ee7234 !important;
  transition: 0.5s ease-in-out;

}


.breadcrumb-sales {
  background-color: #e6e6e6;
  color: #00d1b2;
  ;
}

.container-footer {
  min-height: 100%;
  position: relative;
}

/*.nav-link{
  color: black;
}*/

.nav-link:hover {
  color: #ee7234;
}

/*.dropdown-menu{
  background-color: #595656;
}*/

.dropdown-item {
  color: #fff;
}

.footer-sales {
  height: 30px;
  line-height: 30px;
  background: linear-gradient(to right, #1d4664, #02121f, #1e4b6a);
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  /*biar memenuhi layar*/
}

.content1 {
  padding: 10px;

  padding-bottom: 60px;
  /*sama atau lebih besar dari tinggi footer*/
}


.form-harian {
  margin: 0px 0px;
  background-color: #fff;
  padding: 10px 25px;
  /*box-shadow: 7px 7px;*/
  border-top: solid 6px #08b59b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.form-harian h1 {
  color: #646464;
}

.form-harian hr {
  width: 100%;
  height: 1px;
  background: #f98c7f;
}

.table_kunjungan {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table_kunjungan td,
.table_kunjungan th {
  border: 0px solid #6f6f6f;
  padding: 3px;
  font-size: 11px;
  text-align: center;
}

.table_kunjungan tr:nth-child(even) {
  background-color: #dfe1e1;
  color: #000;
}

.table_kunjungan tr:hover {
  background-color: #8fccc3;
  color: #fff;
}

.table_kunjungan tr {
  background-color: #e9ecef;
  color: #1a1a1a;
}

.table_kunjungan th {
  text-align: center;
  background-color: #83a49f;
  color: white;
  padding: 6px;
  font-weight: bold;
}

.kunjungan_rprt h1 {
  color: #00d1b2;
}

.penawaran-a {
  color: #ee7234;
}

.dwnld {
  color: #fff;
}


/* ======================ADMIN====================================== */

.head_admin {
  background-color: #dfdcdc;
}

.btn_admin {
  background-color: #dfdcdc;

}

/*.customer-admin{
  background-color: #fff;

}*/

.btn_tambah {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  margin: 4px 0px;
  /*opacity: 0.6;*/
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  /*width: 20%;*/
}

.btn_tambah:hover {
  background-color: #d74214;
}

.btn_view {
  background-color: #1ebbf4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 0px;
  /*opacity: 0.6;*/
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.btn_view:hover {
  background-color: #0e97c8;
}

.btn_add {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 0px;
  /*opacity: 0.6;*/
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.btn_add:hover {
  background-color: #d74214;
}




/* ======================ADMIN====================================== */

.nav-intimedika {
  background-color: #fefefefe;
}


.ket-target {
  color: #000;

}

.bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
  content: none;
}

.bc-icons-2 .breadcrumb-item.active {
  color: #455a64;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0rem;
}

.breadcrumb {
  padding: 0.15rem 1rem;
  border-radius: 0rem;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f98c7f;
  box-shadow: 0 1px 0 0 #f98c7f;
}

.fa-twitter {
  color: #04e4e0;
}

.fa-google-plus-g {
  color: #ff5454;
}



.circle-sls {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding-left: 4.5px;
}

.circle-sls2 {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding-left: 3px;
}

.jumbotron p {
  color: #333;
}

.jumbotron h2 {
  color: #08b59b;
}


.table-box {
  background-color: whitesmoke;
  border-top: 5px solid #a49e9e;
  margin-top: 10px;
  padding: 5px;
}


.modal-dialog.modal-notify.modal-info .badge,
.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #ee7234;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::before,
table.dataTable thead .sorting_desc_disabled::after {
  position: absolute;
  bottom: 0.6em;
  display: block;
  color: #000;

}


.ic-yes {
  color: green;
}

.ic-no {
  color: #c80808;
}

.form-harian h1 {
  color: #00d1b2;
}

.form-group {
  color: #000;
}

.dropdown-toggle::after {
  color: #fff;
}

.hero-body {
  background-color: #00d1b2;
  color: #fff;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: .35s;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: rgb(225, 225, 225);
}

.btn-success {
  background-color: #00d1b2 !important;
  color: #fff;
  /*box-shadow: #c4aeae 3px 3px;*/
  border-color: #00d1b2;
}

.icn {
  color: #79bbb1;
}

.modal-dialog {
  /*max-width: 70%;
    margin: 1.75rem auto;*/
}

.intiwid-system {
  text-align: left;
}

.logo-ipi {
  background-color: #f9f9f9;
  padding: 5px 0px;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
  padding-right: 15px;
}

table td {
  font-size: .7rem;
  font-weight: 300;
}

.info-idx td {
  color: #000;
  font-size: 15px;
}

.navbar-nav {
  font-family: tulisan;
  font-size: 17px;
}


.radio-admin {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-admin input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
}

/* On mouse-over, add a grey background color */
.radio-admin:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-admin input:checked~.checkmark {
  background-color: #08b59b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-admin input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-admin .checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.btn.btn-sm1 {
  padding: 0.2rem .5rem;
  font-size: .74rem;
  border-radius: 1rem;
}

.btn-fnl {
  margin: 0px;
  padding: 0px 9px;
}

.notif-bar {
  position: absolute;
  text-align: center;
  z-index: 99;
  /*background-color: #ff0000e6;*/
  /*height: 26px;*/
  top: 0px;
  left: 3px;
  text-decoration: blink;
  font-size: 14px;
  /*width: 26px;*/
  /*border-radius: 12px 12px;*/
}



.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #00d1b2;
}

.navbar-toggler-icon {
  color: #fff;
}

.fa-th-list {
  color: #fff;
}


.divider-new,
.navbar .nav-flex-icons {
  flex-direction: row;
  float: right;
}

.active1 {
  background-color: #0aa68e;
  /*border-radius: 10px;*/
}

.btn-penawaran {
  float: right;

}

.btn {
  /*box-shadow: #c4aeae 3px 3px;*/
}

table {
  border: 0;
}

.navbar .dropdown-menu a {
  padding: 10px;
  font-size: .9375rem;
  font-weight: 300;
  color: #fff;
}

.dropdown-menu {
  background-color: #0aa68e;
}

.zoomm {
  float: right;
  position: absolute;
  right: 15px;
  top: 3px;
  list-style: none;
}

.index-box {
  font-size: 20px;
  color: #353535;
}

.info-bar {
  color: #fff;
}

.fa-angle-down {
  color: #fff;
}

.f1 {
  position: absolute;
  color: #e61e1e;
  font-size: 18px;
  top: 1px;
  left: 0px;
}



.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}



.btn-penawaran {
  float: right;
}

.toggle-penawaran {
  float: right;
  /*background-color: red;*/
  padding: 3px;
  font-size: 20px;
  color: #00d1b2;
}


.toggle-penawaran {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.toggle-penawaran.down1 {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ec4f4f;
}


.pnwrn h2 {
  color: black;
}

.modal-body {
  color: black;
}

.de-body {
  color: black;
}

.modal-title {
  color: black;
}

.detail-table tr td {
  font-size: 15px;

}

.btn_n {
  margin: .375rem;
  color: inherit;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  /* border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);*/
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.persen5 {
  font-size: 13px;
  color: #08b59b;
}

.persen4 {
  color: #08b59b;
}

.btn-pen {
  padding: 1px;
}

.btn-pen1 {
  padding: 0px;
  margin: 1px;
  font-size: 13px;
  color: #4684e6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.btn-pen1:hover {
  color: #fff;
}

.btn-pen2 {
  padding: 0px;
  margin: 1px;
  font-size: 13px;
  color: #ff4b4b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.btn-pen2:hover {
  color: #fff;
}

.btn-pen3 {
  padding: 0px;
  margin: 1px;
  font-size: 13px;
  color: #238f23;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.btn-pen3:hover {
  color: #fff;
}

.btn-pen4 {
  padding: 0px;
  margin: 1px;
  font-size: 13px;
  color: #71849d;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.btn-pen4:hover {
  color: #fff;
}




.myTarget {
  box-shadow: 0px 0px 4px 0.1px;
  color: #e8e8e8;
  background-color: #fbfbfb;
  padding: 10px;
  margin: 5px;
}

.myTarget h5 {
  color: #000;
}

.dashboard1 {
  background-color: #f9f9f9;
  padding: 0rem 1rem 4rem 2rem;
}

.pd-jdl {
  padding-left: 0px;
  margin-top: 40px;
}

.tgt-txt {
  margin-left: 10px;
}

/*.progress-bar{
  background-color: #4fc678;
}*/

.tgt-name {
  font-size: 19px;
  color: #08b59b;
}

.targetSPA {
  box-shadow: 0px 0px 4px 0.1px;
  color: #08b59b;
  background-color: #fff;
  padding: 10px;
}

.persen2 {
  color: #26b59b;
  float: right;
}

.trgt1 {
  float: right;
  position: relative;
  color: #000;
}

.logo-profil {
  width: 100%;
}

.txt-profil {
  text-align: center;
}

@media only screen and (max-width: 767px) {

  .logo-profil {
    width: 20%;
  }

  .txt-profil {
    text-align: left;
  }

}


.counter.counter-lg {
  top: -7px;
  float: left;
  left: 17px;
}

.counter.counter-lg1 {
  top: -7px;
  /*float: left;*/
  left: 17px;
}

.counter {
  position: relative;
  top: -23px;
  left: auto;
  z-index: 2;
  padding: 1px 7px;
  margin-left: -23px;
  font-size: 11px;
  color:
    #fff;
  background-color:
    #fe1212;
  border-radius: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.counter1.counter-lg1 {
  top: -39px;
  left: -27px;
}

.counter1 {
  position: relative;
  top: -23px;
  left: auto;
  z-index: 2;
  padding: 1px 7px;
  margin-left: -23px;
  font-size: 11px;
  color: #fff;
  background-color: #fe1212;
  border-radius: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hide1 {
  background-color: green;
  opacity: 0;
}

.input1:not(:placeholder-shown)+.hide1 {
  opacity: 1;
}

.show-rs {
  background-color: #f5f5f5;
  padding: 8px;
}

.input-rs {
  font-weight: bold;
}


.intiwid1:hover {
  background-color: #f2f2f2;
}

.intiwid1 img {
  height: 105px;
}

.modal-sm {
  max-width: 300px;
}

.card-body {
  padding: 10px;
}

.heading {
  font-weight: bold;
}

.intiwid-system p {
  font-size: 17px;
}

.spek-pdf {
  background-color: #e86b6b;
  padding: 6px 11px;
  color: #fff;
}

.spek-pdf:hover {
  color: #fff;
}

.input-chat {
  width: 70%;
  height: 30px;
  display: inline;
}


.chat-text {
  background-color: #f3f5f4;
  padding: 3px;
  border-radius: 3px
}

.table-chat tr td {
  font-size: 15px;
}

.btn-chat {
  padding: 5px;

}

.chatinti {
  background-color: #33b5e5;
  margin-left: 5px;
  padding: 0px 0px;
  width: 150px;
}

.chatinti a {
  color: #fff;
}


.head-chat {
  color: #495d6d;
}

.head-chat tr td {
  font-weight: bold;
  font-size: 22px;
}


.chat-text1 {
  font-size: 15px;
}

.name-chat {
  font-weight: bold;
}

.all-chat {
  background-color: #eee;
  padding: 43px 10px;
}

.fill-chat {
  color: #808080;
}


.btn-spr {
  margin: 3px 0px;
}

/*.form-search1{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}*/

.c2 {
  /*display: block;*/
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.c2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #e6e6e6;
}

/* On mouse-over, add a grey background color */
.c2:hover input~.checkmark2 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.c2 input:checked~.checkmark2 {
  background-color: #08B59B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.c2 input:checked~.checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.c2 .checkmark2:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid #fffafa;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dataTables_wrapper > .row > .col-sm-12{
  min-height: 320px;
}

.dataTables_wrapper > .row > .col-md-6, .dataTables_wrapper > .row > .col-md-5, .dataTables_wrapper > .row > .col-md-7 {
  min-height: auto;
}

.upload-box{
  background-color: #f2f0f0;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-top: solid 6px #08b59b;
  margin: 0px 10px;
}

.container-upload{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}



/*
--------------upload css---------*/
.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 12px 19px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #08B59B;
color: #FFF;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}


/* Useless styles, just for demo styles */

.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}

/*
--------------end of upload css---------*/


.modal-lg{
  max-width: 940px;
}

.btn-sml{
  text-transform: none;
  font-size: 11px;
  padding: 0px;
}